{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'css/1_EstiloLogin.css' %}" />
    <link rel="stylesheet" href="https://https://fonts.google.com/specimen/Merriweather">
  </head>
  <body>
    <h1 id="h1t">Duoc UC</h1>
    <p id="h2t">Bienvenido a tu firma de titulación</p>
    <div class="card">
    <h2>Ingrese sus datos</h1>
    <p>Rellene los datos según las credenciales usadas durante todo el semestre.</p>
    <form method="post">
      <fieldset>
        <label for="user">Ingrese su usuario: <input id="user" name="user" type="text" required /></label>
        <label for="password">ingrese su contraseña: <input id="password" name="password" type="password" required /></label>
      </fieldset>
      <input type="submit" onclick="redireccion()" value="Submit" />

    </form>
    <script>function redireccion() {href = "5_confirmacion.html";}</script>
  </div>
  </body>
  </html> 
