{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="{% static 'css/2_EstiloFirma.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="descripcion">
      <h1>Ingresa tus datos con tu carnet en mano.</h1>
    </div>
    <div class="sidebar">
      <div class="sidebar-header">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" alt="Logo DUOC UC">
      </div>
      <ul class="sidebar-menu">
        <li><a href="5_Confirmacion.html">Confirmación</a></li>
        <li><a href="7_AsistenciaInvitado.html">Registro de invitado</a></li>
        <li><a href=""></a>Ver detalles de firma electrónica</li>
      </ul>
  </div>
    <div class="data">
      <div class="card_data">
        <h2 id="h2_data">Rellena los campos según se indica.</h2>
        <hr>
        <label class="label-input" for="rut">Ingresa tu RUT:</label>
        <input class="label-input" id="rut" name="rut" type="text" pattern="[a-z0-5]{8,}" required />
        <label class="label-input" name="num_cedula">ingrese su numero de cedula de identidad: </label>
        <input class="label-input" id="num_cedula" name="num_cedula" type="text" pattern="[a-z0-5]{8,}" required />
        <hr>
        <input type="submit" value="Enviar" />
      </div>
    </div>
  </body>
</html>