{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="{% static 'css/2_EstiloFirma.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
        
    <div class="sidebar">
      <div class="sidebar-header">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" alt="Logo DUOC UC">
      </div>
      <ul class="sidebar-menu">
        <li>1.- Detalles del proceso.</li>
        <li class="li-detalle">2.- Registrar firma electrónica de asistencia.</li>
        <li>3.- Registro de invitado.</li>
        <li>4.- Elección de asientos.</li>
      </ul>
      <p class="p-sidebar">Si presentas algún problema comunicate con la Mesa de Servicios:</p>
        <p class="p-sidebar">(+56) 44220 1098</p>
        <p class="p-sidebar">(+56) 227120245</p>
        <p class="p-sidebar">Servicios Académicos</p>
        <p class="p-sidebar">Servicios de Financiamiento</p>
        <p class="p-sidebar">Servicios de Vida Estudiantil</p>
        <p class="p-sidebar">Servicios Tecnológicos</p>
        <p class="p-sidebar">Otros Servicios</p>
        <p class="p-sidebar">WhatsApp: <a href="https://wa.me/56936639565" class="wsp">56936639565</a>
        </p>
    </div>
  </div>
  <h1>Ingresa tus datos para confirmar tu identidad</h1>
    <div class="data">
      <div class="card_data">
        <h2 id="h2_data">Rellena los campos según se indica.</h2>
        <form method="post">
        {% csrf_token %}
        <hr>
        <label class="label-input" for="rut">Ingresa tu RUT:</label>
        <input class="label-input" id="rut" name="rut" type="text" required />
        <label class="label-input" name="num_cedula">Ingrese su número de cédula de identidad: </label>
        <input class="label-input" id="num_cedula" name="num_cedula" type="text" required />
        <hr>
        <input type="submit" value="Siguiente" />
      </form>
      </div>
  </body>
</html>