<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprobado</title>
    <link rel="stylesheet" href="4_DenegadoDiseno.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/close.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <h1>Hemos detectado errores en el proceso de firma, vuelva a interlo o contacte a mesa estudiantil.</h1>
        <div class="circle">
            <div class="error">
                <div class="gg-close"></div>
            </div>
        </div>
    </div>
</body>
</html>