{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <link rel="stylesheet" href="{% static 'css/5_ConfirmacionEstilo.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="user"></div>
    </div>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" alt="Logo DUOC UC">
        </div>
        <ul class="sidebar-menu">
            <li class="li-detalle">1.- Detalles del proceso.</li>
            <li>2.- Registrar firma electrónica de asistencia.</li>
            <li>3.- Registro de invitado.</li>
            <li>4.- Elección de asientos.</li>
            <li>Sesión iniciada como: {{ user.username }} </li>
        </ul>
        <a class="cerrar-sesion" href="">Cerrar Sesión</a>
        <p class="p-sidebar">Si presentas algún problema comunicate con la Mesa de Servicios:</p>
        <p class="p-sidebar">(+56) 44220 1098</p>
        <p class="p-sidebar">(+56) 227120245</p>
        <p class="p-sidebar">Servicios Académicos</p>
        <p class="p-sidebar">Servicios de Financiamiento</p>
        <p class="p-sidebar">Servicios de Vida Estudiantil</p>
        <p class="p-sidebar">Servicios Tecnológicos</p>
        <p class="p-sidebar">Otros Servicios</p>
        <p class="p-sidebar">WhatsApp: <a href="https://wa.me/56936639565" class="wsp">56936639565</a>
        </p>
    </div>
    
    <div class="texto">
        <h1>Firma electrónica de asistencia</h1>
        <p>Confirmación de Asistencia a la ceremonia de titulación con Firma Digital.</p>
        <p>Estimado [nombre.titulado],</p>
        <p>Esperamos que con este mensaje te encuentres bien. Nos complace mucho saber que te encuentras en la etapa final de tu trayectoria
            académica y te acercas a la culminación de tus estudios en Duoc Sede Plaza Oeste. Como parte de este importante logro, 
            nos gustaría invitarte a la Ceremonia de titulación que se llevará a cabo el [Fecha] a las [Hora] en [Lugar].
        </p>
        <p>Para asegurarnos de que podamos organizar este evento de manera adecuada y brindarte una experiencia memorable, te pedimos que confirmes tu
            asistencia. Hemos implementado un proceso sencillo y seguro para que puedas hacerlo a través de una firma digital. Esta firma digital es equivalente a tu
            firma manuscrita y será un símbolo de tu compromiso de asistir a la ceremonia.
        </p>
        <p>Por favor, sigue los siguientes pasos para confirmar tu asistencia antes de avanzar:</p>
        <ol>
            <li>Con tu carnet a mano y con el de tu sostenedor, completa los campos para registrar tu firma electronica</li>
            <li>Escribe los nombres completos de los invitados a tu ceremonia de titulación.</li>
            <li>Selecciona el lugar que eligiras para el dia de la ceremonia, teniendo en cuenta tus invitados y a ti mismo.</li>
        </ol>
        <p>Una vez que hayas firmado digitalmente, se registrará tu confirmación de asistencia y recibirás un correo electrónico de confirmación.</p>
        <a href="{% url 'firma' %}" class="btn-form">Siguiente</a>
    </div>
</body>
</html>
