{% load static %}
<script src="{% static 'js/6_AsientosFuncion.js' %}"></script>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de invitados</title>
    <link rel="stylesheet" href="{% static 'css/7_AsistenciaInvitadoEstilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>
        <div class="descripcion">
        <h1>Ingresa los datos de quienes te acompañarán a tu ceremonia</h1>
        <p>- La entrada de invitados es opcional por parte del titulado.</p>
        <p>- Como máximo solo 2 personas pueden acompañar al titulado.</p>
        <p>- Si no quieres traer a nadie a tu ceremonia, solamente prosigue sin colocar ningún dato.</p>
    </div>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" alt="Logo DUOC UC">
        </div>
        <ul class="sidebar-menu">
            <li>1.- Detalles del proceso.</li>
            <li>2.- Registrar firma electrónica de asistencia.</li>
            <li class="li-invitado">3.- Registro de invitado.</li>
            <li>4.- Elección de asientos.</li>
            <li>Sesión iniciada como: {{ user.username }} </li>
        </ul>
        <a class="cerrar-sesion" href="{% url 'login' %}">Cerrar Sesión</a>
        <p class="p-sidebar-title">Si presentas algún problema comunicate con la Mesa de Servicios:</p>
        <p class="p-sidebar">(+56) 44220 1098</p>
        <p class="p-sidebar">(+56) 227120245</p>
        <p class="p-sidebar">Servicios Académicos</p>
        <p class="p-sidebar">Servicios de Financiamiento</p>
        <p class="p-sidebar">Servicios de Vida Estudiantil</p>
        <p class="p-sidebar">Servicios Tecnológicos</p>
        <p class="p-sidebar">Otros Servicios</p>
        <p class="p-sidebar">WhatsApp: <a href="https://wa.me/56936639565" class="wsp">56936639565</a>
        </p>
    </div>
    
    <div class="data">
        <div class="card-data">
            <h2 id="h2-data">Rellena los campos según se indica.</h2>
            <hr>
            <form method="post" action="{% url 'Asientos' %}">
                {% csrf_token %}
            <label class="label-input" for="nombre-acompanante1">Nombre completo de tu primer acompañante:</label>
            <input class="input" id="nombre-acompanante1" name="nombre-acompanante1" type="text" placeholder="Opcional"/>
            <label class="label-input" for="nombre-acompanante2">Nombre completo de tu segundo acompañante: </label>
            <input class="input" id="nombre-acompanante2" name="nombre-acompanante2" type="text"  placeholder="Opcional" />
            <hr>
            <input type="submit" value="Siguiente" />
            </form>
        </div>
    </div>
</body>
</html>
