{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% 'static 9_Mensaje.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <title>Mensaje</title>
</head>
<body>
    <div class="mensaje">
        <div class="ticket">Éxito</div>
        <h1>Se ha enviado un correo a su dirección de correo electrónico.</h1>
        <p>¡Muchas gracias por usar nuestro servicio!</p>
    </div>
</body>
</html>
