{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Titulados Duoc</title>
    <link rel="stylesheet" href="{% static 'css/1_EstiloLogin.css' %}" />
    <link rel="stylesheet" href="https://https://fonts.google.com/specimen/Merriweather">
  </head>
  <body>
    <h1 id="h1t">Duoc UC</h1>
    <p id="h2t">Bienvenido a tu firma de titulación</p>
    <div class="card">
    <h2>Ingrese sus datos</h1>
    <p>Rellene los datos según las credenciales usadas durante todo el semestre.</p>
    <form method="post">
      {% csrf_token %}
      <fieldset>
        <label for="username">Ingrese su usuario: <input id="username" name="username" type="text" required /></label>
        <label for="password">Ingrese su contraseña: <input id="password" name="password" type="password" required /></label>
      </fieldset>
      <input type="submit" value="Siguiente" />

    </form>
  </div>
  </body>
  </html> 
