:root {
  --azul: rgb(0, 40, 85);
  --amarillo: #FFB800;
  --terciario: #000000;
  --blanco: #FFFFFF;
  --blancoAlternativo: rgba(238, 238, 238, 1);
  --gris: #666666;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2500&q=80') center/cover no-repeat;
  margin: 0;
  padding: 0;
  font-family: Merriweather, Georgia;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(0.3px);
  z-index: -1;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  max-width: 100%;
  overflow-y: auto;
  height: 100vh;
}

#h1t,
#h2t {
  color: var(--blanco);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -2rem; 
  font-size: 1.5rem; 
}

#h1t {
  margin-bottom: 0; 
}

#h2t {
  margin-top: 5px; 
}


.card {
  width: 100%; 
  max-width: 31.25rem; 
  background: var(--azul);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid var(--amarillo);
  text-align: center;
  margin-top: 1.5rem;
  overflow: auto;
}

.card h2,
.card p {
  text-align: center;
  color: var(--blanco);
}

.card input[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem; 
  background: var(--amarillo);
  color: var(--terciario);
  border: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.card input[type="submit"]:hover {
  border: 0.2rem solid var(--amarillo);
  background-color: var(--terciario);
  color: var(--blanco);
}

fieldset {
  border: 0.1rem solid var(--amarillo);
  border-radius: 1rem;
  color: var(--blanco);
}

.card input,
.card textarea,
.card select,
.card input[type="file"] {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem; 
  border: 0.1rem solid var(--amarillo);
  border-radius: 0.4rem;
  color: var(--terciario);
  box-sizing: border-box;
  max-width: 100%;
}

.custom-alert {
  background: #f44336;
  color: var(--blanco);
  padding: 1rem;
  display: none;
}


@media (max-width: 1024px) {
  body {
    font-size: 0.875rem; 
    height: auto;
    margin-top: -12vh;
  }

  #h1t {
    margin-top: -4rem; 
    font-size: 2.5rem; 
  }

  #h2t {
    margin-top: 1rem;
    font-size: 2rem; 
  }

  .card {
    width: 90%;
    padding: 5rem;
    margin-top: 1.25rem;
    height: auto;
  }

  .card h2,
  .card p {
    font-size: 2.5rem;
  }

  .card input[type="text"],
  .card input[type="password"] {
    font-size: 2rem;
    padding: 1vh;
  }

  .card textarea,
  .card select,
  .card input[type="submit"],
  .card label {
    font-size: 2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
body{
  overflow: scroll;
}

  .card {
    width: 70%;
  }
}

@media (min-width: 1441px) {
  .card {
    width: 60%;
  }
}