:root {
  --azul: rgb(0, 40, 85);
  --amarillo: #FFB800;
  --negro: #1a1a1a;
  --terciario: #000000;
  --blanco: #FFFFFF;
  --blancoAlternativo: rgba(238, 238, 238, 1);
  --gris: #666666;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-gris);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  font-family: 'Merriweather', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1491308056676-205b7c9a7dc1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2500&q=80);
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

body::before {
  content: '';
  position: absolute;
  top: -3.3%;
  left: 0;
  width: 110%;
  height: 110%;
  background: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(0.3px);
  z-index: -1;
}

.sidebar {
  background-color: var(--blanco);
  color: var(--azul);
  width: 18%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-right: 1px;
}

a {
color: var(--blanco);
text-decoration: none;
}

.sidebar-header {
  padding: 2.5%;
  text-align: center;
}

.sidebar-header img {
  width: 80%;
  max-width: 100%;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-menu .li-detalle{
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--amarillo);
  color: var(--azul);
}

/*
.sidebar-menu li:hover {
  background-color: var(--amarillo);
  color: var(--azul);
} */

.sidebar-menu li:first-child {
  border-top: 2px solid var(--amarillo);
}

.sidebar-menu li:last-child {
  border-bottom: 2px solid var(--amarillo);
}

.p-sidebar-title{
  text-align: center;
  color: var(--azul);
}

.p-sidebar{
  text-align: center;
  color: var(--azul);
}

.wsp {
  color: var(--azul);
  text-decoration: underline;
  font-weight: bold;
}

.cerrar-sesion{
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--color-azul);
  cursor: pointer;
  text-decoration: underline;
  margin-top: 1vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
width: 100%;
text-align: center;
margin: auto;
padding: 2rem;
margin-left: 250px;
max-width: calc(100% - 250px);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--blanco);
}

.data {
  width: 90%;
  max-width: 600px;
  padding: 2.5%;
  background-color: var(--blanco);
  border: 1px solid #FFB800;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1px;
  margin-left: 250px;
}

.data h2 {
  font-size: 2rem;
  margin: 0;
  color: var(--azul);
  text-align: center;
}

.label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

label {
  font-size: 1.4rem;
  color: var(--negro);
  text-align: left;
  margin-bottom: 0.2rem;
}

input[type="text"] {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem; 
  font-size: 1.4rem;
  width: 100%;
}

hr {
  width: 100%;
  border: 0;
  border-top: 0.1rem solid #000; 
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin-top: 2.5%; 
  padding: 1.25vh; 
  background-color: var(--amarillo);
  color: var(--terciario);
  border: 0;
  border-radius: 0.4rem; 
  cursor: pointer;
  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: #003669;
  border: 1px solid var(--amarillo);
  color: var(--blanco);
}


#alertarut {
  color: #ff0000;
}

/*intento de hacerlo responsivo xdddd */
@media screen and (max-width: 780px) {
  body{
    background-color: var(--color-gris);
    margin: 0;
    padding: 0;
    margin-top: -12.5vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Merriweather', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1491308056676-205b7c9a7dc1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2500&q=80);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: auto;
  }

  .sidebar {
    display: none; 
  }
  
  .container {
    max-width: 100%;
  }

  h1, .data{
    width: 90%;
      max-width: none;
      padding: 1rem;
      margin-left: 0;
      display: flex;
      justify-content: center;
      text-align: center;
  }
  
  .label-input {
    max-width: 100%;
  }

  .data {
    margin-top: 2vh;
    width: 100%; 
    max-width: 100%; 
    padding: 3.5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: auto; 
    font-size: 1.4rem;
  }
}