:root {
  --color-azul: rgb(0, 40, 85);
  --color-amarillo: #FFB800;
  --color-blanco: #FFFFFF;
  --color-negro: #1a1a1a;
  --color-gris: #666666;
  --font-primario: 'Merriweather', sans-serif;
}

body {
  font-family: var(--font-primario);
  margin: 0;
  padding: 0;
  /*background: linear-gradient(135deg, var(--color-azul) 5%, #000 30%, var(--color-azul) 70%);
  background-size: 400% 400%;
  animation: gradientAnimation 10s linear infinite;*/
  background-color: var(--color-azul);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
}

.custom-button {
  background-color: transparent;
  color: var(--color-amarillo);
  border: none;
  padding: 1rem;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  left: 1rem;
  z-index: 1000;
  border-radius: 10%;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.sidebar-desplegable {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100%;
  background-color: var(--color-blanco);
  color: var(--color-azul);
  z-index: 999;
  overflow-y: auto;
  padding-right: 1px;
  transition: width 0.3s ease;
}

.cerrar-sidebar {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--color-azul);
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-trigger {
  color: var(--color-blanco);
  background-color: var(--color-azul);
  border: none;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1000;
  border-radius: 50%;
  font-size: 1.5rem;
}

.sidebar {
  background-color: var(--color-blanco);
  color: var(--color-azul);
  width: 15rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-right: 1px;
}

a {
  color: var(--color-negro);
  text-decoration: none;
}

.sidebar-header {
  padding: 2rem;
  text-align: center;
}

.sidebar-header img {
  max-width: 100%;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 1.5rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-menu .li-detalle {
  padding: 1.5rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--color-amarillo);
  color: var(--color-azul);
}

h1 {
  color: var(--color-blanco);
  font-size: 1.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  text-align: center;
  color: var(--color-blanco);
}

.container {
  display: flex;
  justify-content: space-between;
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-izquierda,
.plan-derecha {
  flex: 1;
}

.pasillo {
  background-color: transparent;
  pointer-events: none;
  color: var(--color-blanco);
  border: 1px solid var(--color-blanco);
  width: 10%;
}

.pasillo,
.pasillo-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pasillo-inferior {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  left: 5vw;
  background-color: transparent;
  pointer-events: none;
  color: var(--color-blanco);
  border: 1px solid var(--color-blanco);
  width: 90%;
  height: 5vh;
  margin-bottom: 2vh;
}

.pasillo-inferior,
.pasillo-p {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.publico-p {
  position: relative;
  left: 0.21vw;
}

.asiento {
  width: 2rem; /* Reducido el ancho */
  height: 1.8rem; /* Reducida la altura */
  background-color: var(--color-amarillo);
  border: 2px solid var(--color-gris);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
}
.selected {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  transform: scale(1.05);
  border-color: #007bff;
}

.confirmar {
  background-color: var(--color-amarillo);
  color: var(--color-negro);
  border: solid 1px var(--color-amarillo);
  border-radius: 5px;
  padding: 1rem 1rem;
  cursor: pointer;
  margin-top: 5vh;
  margin-bottom: 10vw;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  max-width: 9rem;
}

.confirmar:hover {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  box-shadow: var(--color-negro) 0.2rem 0.2rem 0.2rem 0.2rem;
  font-weight: bolder;
}

/* Media Query para pantallas medianas */
@media (max-width: 768px) {
  body {
    background: var(--color-azul)
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
    margin: 1rem;
  }

  .pasillo-inferior {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Media Query para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 728px) {
  body {
    background-color: var(--color-azul);
  }

  .container {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    max-width: 100%;
  }

  h1 {
    font-size: 1.25rem;
    max-width: 100%;
  }

  p {
    font-size: 0.75rem;
    margin: 0.5rem;
    max-width: 100%;
  }

  .pasillo-inferior {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
